@model IEnumerable<CTDT.Models.TbGiaHanChuongTrinhDaoTao>

@{
    ViewData["Title"] = "Index";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<h1 style="text-align:center">GIA HẠN CHƯƠNG TRÌNH ĐÀO TẠO</h1>

<p>
    <a asp-action="Create">Thêm Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Số quyết định gia hạn
            </th>
            <th>
                Ngày ban hành văn bản gia hạn
            </th>
            <th>
                Gia hạn lần thứ
            </th>
            <th>
                ID Chương trình đào tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhGiaHan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBanHanhVanBanGiaHan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaHanLanThu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
                </td>
                <td>
                <td>
                    <button class="btn btn-outline-primary btn-sm"
                            onclick="window.location.href = '@Url.Action("Edit", new { id = item.IdGiaHanChuongTrinhDaoTao })'">
                        <i class="fa-sharp fa-solid fa-user-pen"></i> Sửa
                    </button>
                    <button class="btn btn-outline-info btn-sm"
                            onclick="window.location.href = '@Url.Action("Details", new { id = item.IdGiaHanChuongTrinhDaoTao })'">
                        <i class="fa-sharp fa-solid fa-circle-info"></i> Chi Tiết
                    </button>
                    <button class="btn btn-outline-danger btn-sm"
                            onclick="window.location.href = '@Url.Action("Delete", new { id = item.IdGiaHanChuongTrinhDaoTao })'">
                        <i class="fa-sharp fa-solid fa-trash"></i> Xóa
                    </button>
                </td>

                </td>
            </tr>
        }
    </tbody>
</table>