@model IEnumerable<CTDT.Models.TbChuongTrinhDaoTao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Chương trình đào tạo
            </th>
            <th>
               Mã chương trình đào tạo
            </th>
            <th>
                Tên chương trình đào tạo
            </th>
            <th>
               Tên chương trình bằng Tiếng Anh
            </th>
            <th>
                Năm bắt đầu tuyển sinh
            </th>
            <th>
               Tên cơ sở đào tạo nước ngoài
            </th>
            <th>
                Địa điểm đào tạo
            </th>
            <th>
                Ngày ban hành chuẩn đầu ra
            </th>
            <th>
               Thời gian đào tạo chuẩn
            </th>
            <th>
               Chuẩn đầu ra
            </th>
            <th>
                Loại chứng chỉ được chấp thuận
            </th>
            <th>
                Đơn vị thực hiện chương trình
            </th>
            <th>
                Chuẩn đầu ra về ngoại ngữ
            </th>
            <th>
                Chuẩn đầu ra về tin học
            </th>
            <th>
                Học phí tại Việt Nam
            </th>
            <th>
                Học phí tại nước ngoài
            </th>
            <th>
                Đơn vị cấp bằng
            </th>
            <th>
                Học chế đào tạo
            </th>
            <th>
                Loại chương trình đào tạo
            </th>
            <th>
                Loại chương trình liên kết đào tạo
            </th>
            <th>
                Ngành đào tạo
            </th>
            <th>
                Tên nước
            </th>
            <th>
               Trạng thái chương trình đào tạo
            </th>
            <th>
               Trình độ đào tạo
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTao)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuongTrinhBangTiengAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamBatDauTuyenSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCoSoDaoTaoNuocNgoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiemDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBanHanhChuanDauRa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianDaoTaoChuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDauRa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiChungChiDuocChapThuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViThucHienChuongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDauRaVeNgoaiNgu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDauRaVeTinHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhiTaiVietNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhiTaiNuocNgoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDonViCapBangNavigation.DonViCapBang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHocCheDaoTaoNavigation.HocCheDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiChuongTrinhDaoTaoNavigation.LoaiChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiChuongTrinhLienKetDaoTaoNavigation.LoaiChuongTrinhLienKetDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNganhDaoTaoNavigation.NganhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdQuocGiaCuaTruSoChinhNavigation.TenNuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrangThaiCuaChuongTrinhNavigation.TrangThaiChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrinhDoDaoTaoNavigation.TrinhDoDaoTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChuongTrinhDaoTao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChuongTrinhDaoTao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChuongTrinhDaoTao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
