@model CTDT.Models.TbNgonNguGiangDay

@{
    ViewData["Title"] = "Details";
}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Layout Default</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row match-height justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ngôn Ngữ Giảng Dạy</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row gap-1">
                                <dt class = "col-sm-5">
                                    @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
                                </dt>
                                <dd class = "col-sm-6">
                                    @Html.DisplayFor(model => model.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
                                </dd>
                                <dt class = "col-sm-5">
                                    @Html.DisplayNameFor(model => model.IdNgonNguNavigation)
                                </dt>
                                <dd class = "col-sm-6">
                                    @Html.DisplayFor(model => model.IdNgonNguNavigation.IdNgoaiNgu)
                                </dd>
                                <dt class = "col-sm-5">
                                    @Html.DisplayNameFor(model => model.IdTrinhDoNgonNguDauVaoNavigation)
                                </dt>
                                <dd class = "col-sm-6">
                                    @Html.DisplayFor(model => model.IdTrinhDoNgonNguDauVaoNavigation.IdKhungNangLucNgoaiNgu)
                                </dd>
                                <div class="col-12 d-flex justify-content-start gap-2">
                                    <button class="btn btn-outline-primary" onclick="window.location.href = '@Url.Action("Edit", new {id = Model.IdNgonNguGiangDay})'"><i class="fa-sharp-duotone fa-solid fa-user-pen"></i> Sửa</button>
                                    <button class="btn btn-outline-primary" onclick="window.location.href = '@Url.Action("Index")'"><i class="fa-sharp fa-solid fa-circle-info"></i> Quay lại</button>
                                    <button type="button" class="btn btn-outline-danger block" data-bs-toggle="modal" data-bs-target="#deletemodal">
                                        Xóa
                                    </button>
                                    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                            role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalCenterTitle">Xác nhận
                                                    </h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Bạn muốn xóa ?
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Delete">
                                                        <input type="hidden" asp-for="IdChuongTrinhDaoTao" />
                                                        <button type="button" class="btn btn-light-secondary"
                                                            data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Close</span>
                                                        </button>
                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>