@model IEnumerable<CTDT.Models.TbNamApDungChuongTrinh>

@{
    ViewData["Title"] = "Index";
}
@Layout{
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
}

<h1>Mục Lục</h1>

<p>
    <a asp-action="Create">Thêm Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoTinChiToiThieuDeTotNghiep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongHocPhiToanKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamApDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTieuTuyenSinhHangNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoTinChiToiThieuDeTotNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongHocPhiToanKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamApDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTieuTuyenSinhHangNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
            </td>
            <td>
                <td>
                    <button class="btn btn-outline-primary btn-sm"
                            onclick="window.location.href = '@Url.Action("Edit", new { id = item.IdNamApDungChuongTrinh })'">
                        <i class="fa-sharp fa-solid fa-user-pen"></i> Sửa
                    </button>
                    <button class="btn btn-outline-info btn-sm"
                            onclick="window.location.href = '@Url.Action("Details", new { id = item.IdNamApDungChuongTrinh })'">
                        <i class="fa-sharp fa-solid fa-circle-info"></i> Chi Tiết
                    </button>
                    <button class="btn btn-outline-danger btn-sm"
                            onclick="window.location.href = '@Url.Action("Delete", new { id = item.IdNamApDungChuongTrinh })'">
                        <i class="fa-sharp fa-solid fa-trash"></i> Xóa
                    </button>
                </td>

            </td>
        </tr>
}
    </tbody>
</table>
